# dependencies
node_modules

# builds
dist

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
tsconfig.tsbuildinfo

# env files
.env
.env.test

# turbo
.turbo

# vscode
.vscode